/* banner */

.banner {
    background-image: url(../img/lux-bg.png);
}

.header-box__contacts a {
    display: block;
}

.nav-link a {
    margin-right: 30px;
}

.nav-link.last a {
    margin-right: 0px;
}

.header-address {
    margin-top: 5px;
}

.breadcrumbs-box {
    display: flex;
    max-width: 250px;
    align-items: center;
    justify-content: space-between;
    margin-top: 38px;
}

.breadcrumbs-box__link, .breadcrumbs-box__link a {
    color: white;
    font-size: 14px;
    font-family: 'Inter SemiBold', sans-serif;
    text-transform: uppercase;
}

.banner-info {
    margin-top: 225px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 125px;
}

.banner-info__opening {
    margin-top: 50px;
    margin-bottom: 68px;
}

.banner-info__opening p, .catalog-info__opening p {
    font-size: 16px;
    color: white;
    font-family: 'Inter Medium';
    margin-bottom: 6px;
    font-weight: 400;
}

.banner-info__title {
    text-transform: uppercase;
    font-family: 'BalkaraFreeCondensed', sans-serif;
    color: white;
    font-size: 100px;
    font-weight: 400;
    line-height: 120%;
}

.banner-info__btn, .stanchion__btn {
    background-color: #8AAF90;
    padding: 20px 70px;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 16px;
}

.banner-info__btn:hover {
    background-color: white;
    color: #000;
}

.main-box__button:hover {
    background-color: #8AAF90;
    color: white;
}

.stanchion-line {
    display: flex;
    margin-bottom: 75px;
}

.stanchion-line.last {
    margin-bottom: 0;
}

.stanchion-line img {
    width: 40px;
    height: 40px;
}

.stanchion-line p {
    color: white;
    font-size: 20px;
    line-height: 26px;
    margin-left: 20px;
    font-family: 'AGHelveticaCyr', sans-serif;
    max-width: 271px;
}

.stanchion__btn {
    margin-top: 90px;
    background-color: transparent;
    border: 1px solid white;
    padding: 23px 50px;
}

.stanchion__btn:hover {
    border: 1px solid #8AAF90;
    color: #8AAF90;
}

/* welcome */

.welcome {
    margin-top: 100px;
    margin-bottom: 120px;
}

span.color {
    color: #8AAF90;
}

.welcome__subtitle {
    font-size: 35px;
    font-family: 'AGHelveticaCyr', sans-serif;
    color: white;
    line-height: 150%;
    text-align: center;
}

.welcome-box {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.welcome-box li {
    max-width: 175px;
    color: white;
    font-family: 'AGHelveticaCyr', sans-serif;
    font-size: 24px;
    line-height: 120%;
}

.photo-box {
    margin-top: 80px;
    display: flex;
    gap: 20px;
}

.pool-box {
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
}

/* .pool-box:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(51, 51, 51, 0.82);
    z-index: 2;
} */

/* .pool-box:hover img[src="img/welcome_1.png"] {
    width: 1125px;
    z-index: 3;
    position: relative;
} */

/* .pool-box:hover .pool-info {
    display: flex;
    z-index: 4;
} */

.pool-box img {
    transition: all 0.3s ease;
    display: block;
}

.pool-info {
    width: 100%;
    max-width: 964px;
    display: none;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    bottom: 40px;
    left: 75px;
    z-index: 3;
    pointer-events: none;
}

.pool-info__left {
    display: flex;
    align-items: center;
}

.pool-info__left p {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    color: white;
    margin-left: 40px;
}

.pool-info__right p {
    max-width: 283px;
    color: white;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    margin-top: 32px;
}

.photo-box__col {
    gap: 20px;
}

.photo-box__row {
    gap: 20px;
}

.photo-box__row.lower {
    margin-top: 30px;
}

.welcome-photo__6 {
    margin-top: 20px;
}

.welcome-photo__7 {
    margin-top: 24px;
}

/* oasis */

.oasis {
    padding: 80px 0;
    background-image: url(../img/oasis-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.oasis-box {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.oasis-box p {
    color: white;
    font-size: 18px;
    font-family: 'AGHelveticaCyr', sans-serif;
    line-height: 22px;
    max-width: 650px;
}

/* catalog */

.catalog {
    margin: 120px 0;
}

.catalog__title {
    text-align-last: left;
}

.catalog-box {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.catalog-card {
    cursor: pointer;
}

.catalog-card__top {
    position: relative;
}

.catalog-card__top p {
    text-transform: uppercase;
    position: absolute;
    font-family: 'BalkaraFreeCondensed', sans-serif;
    color: white;
    font-size: 30px;
    line-height: 120%;
    left: 16px;
    bottom: 18px;
    max-width: 240px;
}

.catalog-card__bottom {
    margin-top: 18px;
}

.catalog-card__description {
    color: white;
    font-size: 16px;
    margin-bottom: 8px;
    font-family: 'AGHelveticaCyr', sans-serif;
}

.catalog-info__opening {
    margin-top: 27px;
}