/* banner */

.banner {
    background-image: url(../img/lux-bg.png);
}

.header-box__contacts a {
    display: block;
}

.nav-link a {
    margin-right: 30px;
}

.nav-link.last a {
    margin-right: 0px;
}

.header-address {
    margin-top: 5px;
}

.breadcrumbs-box {
    display: flex;
    max-width: 250px;
    align-items: center;
    justify-content: space-between;
    margin-top: 38px;
}

.breadcrumbs-box__link, .breadcrumbs-box__link a {
    color: white;
    font-size: 14px;
    font-family: 'Inter SemiBold', sans-serif;
    text-transform: uppercase;
}

.banner-info {
    margin-top: 225px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 125px;
}

.banner-info__opening {
    margin-top: 50px;
    margin-bottom: 68px;
}

.banner-info__opening p {
    font-size: 16px;
    color: white;
    font-family: 'Inter Medium';
    margin-bottom: 6px;
}

.banner-info__title {
    text-transform: uppercase;
    font-family: 'BalkaraFreeCondensed', sans-serif;
    color: white;
    font-size: 100px;
    font-weight: 400;
    line-height: 120%;
}

.banner-info__btn, .stanchion__btn {
    background-color: #8AAF90;
    padding: 20px 70px;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 16px;
}

.main-box__button:hover {
    background-color: #8AAF90;
    color: white;
}

.stanchion-line {
    display: flex;
    margin-bottom: 75px;
}

.stanchion-line.last {
    margin-bottom: 0;
}

.stanchion-line img {
    width: 40px;
    height: 40px;
}

.stanchion-line p {
    color: white;
    font-size: 20px;
    line-height: 26px;
    margin-left: 20px;
    font-family: 'AGHelveticaCyr', sans-serif;
    max-width: 271px;
}

.stanchion__btn {
    margin-top: 90px;
    background-color: transparent;
    border: 1px solid white;
    padding: 23px 50px;
}

/* welcome */

.welcome {
    margin-top: 100px;
    margin-bottom: 120px;
}

span.color {
    color: #8AAF90;
}

.welcome__subtitle {
    font-size: 35px;
    font-family: 'AGHelveticaCyr', sans-serif;
    color: white;
    line-height: 150%;
    text-align: center;
}

.welcome-box {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.welcome-box li {
    max-width: 175px;
    color: white;
    font-family: 'AGHelveticaCyr', sans-serif;
    font-size: 24px;
    line-height: 120%;
}

.photo-box {
    margin-top: 80px;
    display: flex;
    gap: 20px;
}

.photo-box__col {
    gap: 20px;
}

.photo-box__row {
    gap: 20px;
}

.photo-box__row.lower {
    margin-top: 30px;
}

.welcome-photo__6 {
    margin-top: 20px;
}

.welcome-photo__7 {
    margin-top: 24px;
}