/* banner */
.announcement {
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.announcement-box {
    padding: 15px 0;
}

.announcement-box p {
    text-align: center;
    color: white;
    font-family: "AGHelveticaCyr", sans-serif;
    font-size: 26px;
}

.main-footer {
    background: RGBA(9, 9, 9, 0);
    background: linear-gradient(180deg, rgba(9, 9, 9, 0) 0%, rgba(9, 9, 9, 1) 100%);
}

.main__img {
    display: block;
    margin: 0 auto;
    margin-top: 160px;
}

.main-box__buttons {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main-box__button {
    background-color: white;
    padding: 20px 70px;
    color: #000;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 16px;
    max-height: 56px;
    margin-right: 360px;
}

.main-box__button:hover {
    background-color: #8AAF90;
    color: white;
}

.round-banner__button {
    position: relative;
    cursor: pointer;
    width: fit-content;
}

.round-text {
    position: absolute;
    top: 45%;
    left: 49%;
    transform: translate(-50%, -50%);
    animation: rotateClockwise 10s linear infinite;
}

.round-button {
    padding: 63px;
    border: 3px solid #7C7C7C;
    background-color: rgba(217, 217, 217, .2);
    border-radius: 300px;
    position: relative;
    z-index: 1;
}

/* @keyframes rotateClockwise {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
} */

.location {
    margin-top: 15px;
    padding-bottom: 60px;
}

.location-box {
    margin: 0 auto;
    display: flex;
    max-width: 620px;
    align-items: center;
}

.location-box p {
    color: white;
    font-family: "AGHelveticaCyr", sans-serif;
    font-size: 32px;
}

.location-box__pin {
    margin-right: 15px;
}

.location a {
    color: white;
    font-family: "AGHelveticaCyr", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    max-width: 156px;
    margin-top: 15px;
}

.location a:hover {
    color: #8AAF90;
}

/* about */

.about {
    margin-top: 100px;
    position: relative;
}

.about__title {
    margin-bottom: 100px;
}

.title {
    font-family: 'BalkaraFreeCondensed', sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
}

.about-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.about-box__col {
    max-width: 335px;
}

.col-title {
    font-family: 'BalkaraFreeCondensed', sans-serif;
    color: white;
    font-size: 40px;
    line-height: 120%;
    cursor: pointer;
    transition: 0.2s;
}

.col-title,
.col-text {
    transition: color 0.3s ease;
}

.col-text {
    color: white;
    font-size: 20px;
    line-height: 26px;
    font-family: 'AGHelveticaCyr', sans-serif;
    margin-top: 20px;
}

.col-text.first {
    margin-top: 70px;
}

/* cards */
.about-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    position: relative;
}

.about-card {
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1;
    overflow: hidden;
}

.about-card:hover {
    transform: scale(1.18);
    z-index: 2;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.card-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.about-card:hover .card-photo {
    transform: scale(1.15);
}

.card-billet {
    border-radius: 10px;
    padding: 3px 17px 3px 10px;
    background-color: #333333;
    display: flex;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 35px;
    z-index: 3;
}

.card-billet__icon {
    margin-right: 10px;
}

.card-billet__text {
    color: white;
    font-size: 16px;
    font-family: 'Inter Regular';
}

.card-inner {
    position: absolute;
    bottom: 45px;
    left: 30px;
    z-index: 3;
}

.card-title {
    font-family: 'BalkaraFreeCondensed', sans-serif;
    color: white;
    font-size: 40px;
    line-height: 120%;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.card-subtitle {
    color: white;
    margin-top: 5px;
    font-size: 25px;
    line-height: 120%;
    font-family: "AGHelveticaCyr", sans-serif;
}

.card-info {
    display: flex;
    width: 625px;
    justify-content: space-between;
    margin-top: 17px;
}

.card-info__col p {
    font-size: 16px;
    color: white;
    font-family: 'Inter Medium';
    margin-bottom: 6px;
}

.card-uppercase {
    font-size: 20px;
    text-transform: uppercase;
}

/* possibilities */

.possibilities {
    margin-top: 150px;
}

.possibilities__subtitle {
    color: white;
    font-size: 35px;
    line-height: 120%;
    font-family: "AGHelveticaCyr";
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}

.white-line {
    width: 690px;
    height: 1px;
    background-color: white;
    border: none;
    margin: 0 auto;
    margin-bottom: 100px;
}

.possibilities-box {
    margin-top: 85px;
    display: flex;
    justify-content: space-around;
}

.possibilities-box__col {
    display: flex;
    align-items: center;
}

.possibilities-box__col p {
    color: white;
    max-width: 198px;
    font-family: "AGHelveticaCyr";
    margin-left: 20px;
    font-size: 24px;
    line-height: 120%;
}

.bucket-left {
    position: absolute;
    left: 0;
    bottom: -350px;
}

.bowler-img {
    position: absolute;
    right: 0;
    bottom: 490px;
}

.bucket-img__right {
    position: absolute;
    right: 0;
    bottom: -120px;
}

/* circumscribing */

.circumscribing {
    margin-top: 240px;
    background-image: url(../img/circumscribing_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.circumscribing-box {
    display: flex;
    padding: 80px 0;
}

.circumscribing-box__title {
    text-align: left;
}

.circumscribing-box__text {
    color: white;
    line-height: 122%;
    margin-top: 40px;
    font-size: 18px;
    font-family: "AGHelveticaCyr";
}

.circumscribing-images {
    display: flex;
    gap: 20px;
}

.circumscribing-images__col img {
    display: block;
}

.circumscribing-img.last {
    margin-top: 20px;
}

/* reviews */

.reviews {
    margin: 100px 0px 140px;
}

.reviews-box {
    margin-top: 60px;
    position: relative;
}

.reviews-buttons {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
}

.reviews-button {
    background-color: transparent;
}

.reviews-inner {
    display: flex;
    max-width: 1310px;
    margin: auto;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.review {
    position: relative;
    flex: 0 0 calc(50% - 15px);
    min-width: calc(50% - 15px);
    margin-right: 15px;
    transition: transform 0.5s ease;
}

.review:last-child {
    margin-right: 0;
}

.review:nth-child(1),
.review:nth-child(2) {
    display: block;
}

.review__bg {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
    width: 100%;
    height: auto;
}

.review-box {
    display: flex;
    position: absolute;
    top: 28px;
    left: 40px;
}

.client-img {
    width: 65px;
    height: 65px;
}

.review-info {
    margin-left: 40px;
}

.client-name {
    font-size: 24px;
    margin-bottom: 2px;
}

.client-name,
.client-date,
.client-review {
    color: white;
    font-family: 'Inter Regular';
    line-height: 120%;
}

.client-date,
.client-review,
.read-btn {
    font-size: 16px;
}

.client-review {
    margin-top: 15px;
    max-width: 425px;
}

.read-btn {
    color: #7C7C7C;
    font-family: 'Inter Regular';
}

.circles-btns {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.circle-btn {
    width: 7px;
    height: 7px;
    border-radius: 50px;
    background-color: white;
}

.circle-btn.active {
    background-color: #8AAF90;
}