@font-face {
    font-family: 'AGHelveticaCyr';
    src: url('../fonts/aghelveticacyrroman.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/helveticaneuecyr_roman.otf');
    font-style: normal;
}

@font-face {
    font-family: 'BalkaraFreeCondensed';
    src: url('../fonts/Balkara\ Condensed.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Regular';
    src: url('../fonts/Inter-Regular.otf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Inter Medium';
    src: url('../fonts/Inter-Medium.otf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Inter SemiBold';
    src: url('../fonts/inter-semi-bold.otf') format('truetype');
    font-style: normal;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
p,
h1,
h2,
h3,
ul,
ol,
button {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #333333;
}

.row {
    display: flex;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.d-block {
    display: block;
}

input {
    outline: none !important;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

/* banner */

.banner {
    background-image: url(../img/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.header-box__nav {
    display: flex;
}

.nav-link a {
    color: white;
    text-transform: uppercase;
    font-family: "AGHelveticaCyr", sans-serif;
    font-size: 14px;
    margin-right: 40px;
}

.nav-link a:hover {
    color: #8AAF90;
}

.nav-link.last a {
    margin-right: 0px;
}

.header-box__links {
    display: flex;
    align-items: center;
}

.header-box__links a {
    margin-right: 20px;
}

.header-number, .header-address {
    margin-right: 0;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    font-family: 'HelveticaNeueCyr', sans-serif;
}

/* contacts */

.contacts {
    margin-bottom: 60px;
}

.contacts__logo {
    margin-top: 100px;
}

.contacts-box {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

.contacts-box__title {
    color: white;
    font-family: 'HelveticaNeueCyr';
    font-size: 25px;
    line-height: 140%;
    margin-bottom: 24px;
    font-weight: 500;
}

.contacts-box__text {
    font-size: 20px;
    font-family: "AGHelveticaCyr";
    margin-bottom: 10px;
    color: white;
    line-height: 140%;
}

.contacts-box__socials {
    margin-top: 104px;
}

.vk_icon {
    margin-right: 30px;
}

.cart {
    width: 690px;
    height: 325px;
}

/* footer */
.footer {
    margin-bottom: 60px;
}

.footer__text {
    color: white;
    font-size: 12px;
    font-family: "AGHelveticaCyr", sans-serif;
    color: white;
    line-height: 140%;
}

/* contact-button */
.contact-btn {
    position: fixed;
    right: 100px;
    bottom: 55px;
    z-index: 1000;
}

.contact-btn__btn {
    background-color: #8AAF90;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1001;
}

.contact-btn__btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.contact-btn__box {
    display: flex;
    padding: 30px 40px;
    background-color: #8AAF90;
    align-items: center;
    gap: 30px;
    border-radius: 70px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    z-index: 1000;
}

.contact-btn__box.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.contact-btn__input,
.order-btn {
    width: 300px;
    height: 60px;
    background-color: white;
    color: #7C7C7C;
    border-radius: 70px;
    padding: 19px 30px;
    font-size: 18px;
    line-height: 122%;
    border: none;
    font-family: "AGHelveticaCyr", sans-serif;
}

.order-btn {
    background-color: transparent !important;
    border: 2px solid white;
    display: flex;
    color: white;
    align-items: center;
    cursor: pointer;
}

.order-btn img {
    margin-right: 30px;
}

.close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}