@font-face {
    font-family: 'AGHelveticaCyr';
    src: url('../fonts/aghelveticacyrroman.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/helveticaneuecyr_roman.otf');
    font-style: normal;
}

@font-face {
    font-family: 'BalkaraFreeCondensed';
    src: url('../fonts/Balkara\ Condensed.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Regular';
    src: url('../fonts/Inter-Regular.otf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Inter Medium';
    src: url('../fonts/Inter-Medium.otf') format('truetype');
    font-style: normal;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
p,
h1,
h2,
h3,
ul,
ol,
button {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #333333;
}

.row {
    display: flex;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.d-block {
    display: block;
}

input {
    outline: none !important;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

/* banner */

.banner {
    background-image: url(../img/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(20px); 
    -webkit-backdrop-filter: blur(20px);
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.header-box__nav {
    display: flex;
    
}

.nav-link a {
    color: white;
    text-transform: uppercase;
    font-family: "AGHelveticaCyr", sans-serif;
    font-size: 14px;
    margin-right: 40px;
}

.nav-link.last a {
    margin-right: 0px;
}

.header-box__links {
    display: flex;
    align-items: center;
}

.header-box__links a {
    margin-right: 20px;
}

.header-number {
    margin-right: 0;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    font-family: 'HelveticaNeueCyr', sans-serif;
}

.announcement {
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); 
}

.announcement-box {
    padding: 15px 0;
}

.announcement-box p {
    text-align: center;
    color: white;
    font-family: "AGHelveticaCyr", sans-serif;
    font-size: 26px;
}

.main-footer {
    background: RGBA(9, 9, 9, 0);
    background: linear-gradient(180deg, rgba(9, 9, 9, 0) 0%, rgba(9, 9, 9, 1) 100%);
}

.main__img {
    display: block;
    margin: 0 auto;
    margin-top: 160px;
}

.main-box__buttons {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main-box__button {
    background-color: white;
    padding: 20px 70px;
    color: #000;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 16px;
    max-height: 56px;
    margin-right: 360px;
}

.round-banner__button {
    position: relative;
    cursor: pointer;
    width: fit-content;
}

.round-text {
    position: absolute;
    top: 45%;
    left: 49%;
    transform: translate(-50%, -50%);
    animation: rotateClockwise 10s linear infinite;
}

.round-button {
    padding: 63px;
    border: 3px solid #7C7C7C;
    background-color: rgba(217, 217, 217, .2);
    border-radius: 300px;
    position: relative;
    z-index: 1;
}

/* @keyframes rotateClockwise {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
} */

.location {
    margin-top: 15px;
    padding-bottom: 60px;
}

.location-box {
    margin: 0 auto;
    display: flex;
    max-width: 620px;
    align-items: center;
}

.location-box p {
    color: white;
    font-family: "AGHelveticaCyr", sans-serif;
    font-size: 32px;
}

.location-box__pin {
    margin-right: 15px;
}

.location a {
    color: white;
    font-family: "AGHelveticaCyr", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    max-width: 156px;
    margin-top: 15px;
}

/* about */

.about {
    margin-top: 100px;
    position: relative;
}

.about__title {
    margin-bottom: 100px;
}

.title {
    font-family: 'BalkaraFreeCondensed', sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
}

.about-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.about-box__col {
    max-width: 335px;
}

.col-title {
    font-family: 'BalkaraFreeCondensed', sans-serif;
    color: white;
    font-size: 40px;
    line-height: 120%;
}

.col-text {
    color: white;
    font-size: 20px;
    line-height: 26px;
    font-family: 'AGHelveticaCyr', sans-serif;
    margin-top: 20px;
}

.col-text.first {
    margin-top: 70px;
}

/* cards */

.about-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.about-card {
    position: relative;
    cursor: pointer;
}

.card-billet {
    border-radius: 10px;
    padding: 3px 17px 3px 10px;
    background-color: #333333;
    display: flex;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 35px;
}

.card-billet__icon {
    margin-right: 10px;
}

.card-billet__text {
    color: white;
    font-size: 16px;
    font-family: 'Inter Regular';
}

.card-inner {
    position: absolute;
    bottom: 45px;
    left: 30px;
}

.card-title {
    font-family: 'BalkaraFreeCondensed', sans-serif;
    color: white;
    font-size: 40px;
    line-height: 120%;
}

.card-subtitle {
    color: white;
    margin-top: 5px;
    font-size: 25px;
    line-height: 120%;
    font-family: "AGHelveticaCyr", sans-serif;
}

.card-info {
    display: flex;
    width: 625px;
    justify-content: space-between;
    margin-top: 17px;
}

.card-info__col p {
    font-size: 16px;
    color: white;
    font-family: 'Inter Medium';
    margin-bottom: 6px;
}

.card-uppercase {
    font-size: 20px;
    text-transform: uppercase;
}

/* possibilities */

.possibilities {
    margin-top: 150px;
}

.possibilities__subtitle {
    color: white;
    font-size: 35px;
    line-height: 120%;
    font-family: "AGHelveticaCyr";
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}

.white-line {
    width: 690px;
    height: 1px;
    background-color: white;
    border: none;
    margin: 0 auto;
    margin-bottom: 100px;
}

.possibilities-box {
    margin-top: 85px;
    display: flex;
    justify-content: space-around;
}

.possibilities-box__col {
    display: flex;
    align-items: center;
}

.possibilities-box__col p {
    color: white;
    max-width: 198px;
    font-family: "AGHelveticaCyr";
    margin-left: 20px;
    font-size: 24px;
    line-height: 120%;
}

.bucket-left {
    position: absolute;
    left: 0;
    bottom: -350px;
}

.bowler-img {
    position: absolute;
    right: 0;
    bottom: 490px;
}

.bucket-img__right {
    position: absolute;
    right: 0;
    bottom: -120px;
}

/*  */